<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container-sm{
            padding-top: 20px;
            height: 100vh;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    </style>
</head>
<body>
    <div class="container-sm">
        <h1>School database</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odio dicta odit ipsum quis nulla qui cupiditate. Soluta vel, quae sit exercitationem reiciendis, culpa architecto nostrum, voluptatum provident ullam atque.</p>
    </div>
</body>
</html>
